.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "navbar header header"
    "navbar main main"
    "navbar main main";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.navbar {
  grid-area: navbar;
  max-width: 224px;
  display: flex;
  justify-content: center;
  box-shadow: 7px -1px 12px 0 rgba(0, 0, 0, 0.11);
}
